.datePicker {
    display: flex;
    align-items: center;
}

.date {
    display: flex;
    justify-content: center;
    color:rgb(84, 96, 203);
    min-width: 130px;
}

.btn {
    display: flex;

    border: none;
    background-color: transparent;
    cursor: pointer;
}

.icon {
    width: 20px;
    height: 20px;
}

.datepicker_toggle {
    display: inline-block;
    position: relative;
    width: 28px;
    height: 28px;
    margin-left: 15px;
}
.datepicker_toggle_button {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../../img/calendar.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.datepicker_input {
    position: absolute;
    left: -5px;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    box-sizing: border-box;
    border: none;
    cursor: auto;
}
.datepicker-input::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    cursor: none;
}